<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="text" name="title" placeholder="write product name"/>
    <input type="text" name="description" placeholder="write product description"/>
    <input type="text" name="city" placeholder="write product city"/>
    <input type="text" name="price" placeholder="write product price"/>
    <button type="submit">Add</button>
</form>

<h1>Товары</h1>
    <div th:each="product : ${products}">
        <div>
            <h2 th:text="${product.title}"></h2>
            <p th:text="${product.price}"></p>
            <a href="/product/${product.id}">See more</a>
        </div>

    </div>
</body>
</html>